/*基础开始*/

* {
    margin: 0;
    padding: 0;

    list-style: none;

    text-decoration: none;
}
body {
    width: 100%;
    min-width: 1280px;

    background: #FFF;

    font-family: "微软雅黑", 'hiraginoSansBG w3', "黑体", "宋体";
    font-size: 14px;
}
a, h1, h2, h3, span, p, em {
    font-size: 12px;
}
input {
    cursor: pointer;

    border: none;
    outline: 0;
}
.wrappre {
    position: relative;

    width: 100%;
}
.main {
    /*width: 100%;*/
}

/*登录窗口开始*/

#play-win {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    /*display: none;*/

    width: 100%;
    height: 100%;

    background: #000;
    opacity: .9;
}
#loginbar {
    position: fixed;
    top: 30%;
    left: 39%;

    display: none;

    width: 315px;
    height: 245px;
    padding: 30px 40px;

    background: #FFF;
}
#loginbar h1 {
    margin-bottom: 20px;

    color: #444;

    font-size: 18px;
}
#loginbar li {
    width: 300px;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 10px;

    color: #ccc;
    border: 1px solid #dfdfdf;
    background: #fafafa;

    font-size: 16px;
    line-height: 45px;
}
#loginbar input {
    width: 250px;
    height: 45px;
    padding-left: 8px;

    cursor: auto;

    background: none;

    font-size: 18px;
}
#loginbar #loginbar-submit {
    width: 312px;
    margin: 25px 0 0 0;
    padding: 0;
	/*display: block;*/
    border: none;
    background: #1ea740;

    font-size: 16px;
}
#loginbar-submit input {
    width: 100%;

    color: #FFF;
}
#no-login, #no-video {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 10px;
    height: 10px;

    cursor: pointer;

    background: url(../img/gb.png) no-repeat;
}

/*视频窗口开始*/

#video,.video-box {
    position: fixed;
    top: 15%;
    left: 25%;
    width: 888px;
    height: 555px;
    padding: 30px;
    filter:alpha(opacity:80);
    background: #FFF;
}
#video p {
    margin-bottom: 15px;
    color: #444;
    font-size: 18px;
}
.video-box{
background-color:#FFF;
    filter:alpha(opacity:80);
    opacity:0.8; }

/*头部开始*/

.header {
    margin: 0 auto;

    background: #FFF;
    /*max-width: 1205px;*/
}
.header-top-msg {
    width: 100%;
    height: 40px;

    color: #333;
    background: #f3f3f3;

    font-size: 12px;
    line-height: 40px;
}
.header-top-msg a {
    padding-left: 20px;

    color: #21a557;
}
#no-notice {
    float: right;

    width: 50px;
    padding-left: 15px;

    cursor: pointer;
    text-align: right;

    background: url(../img/gz.png) no-repeat left;
    background-position-y: 15px;
}
.header-top-msg span {}
.header-top-msgdiv {
    max-width: 1205px;
    margin: 0 auto;
}
.header-top-msg p {}
.header-menu {
    min-width: 963px;
    max-width: 1205px;
    height: 90px;
    margin: 0 auto;
}
.logo {
    float: left;

    width: 230px;
    height: 60px;
    margin-right: 30px;
    padding-top: 30px;
}
.logo h1 {
    display: inline-block;

    height: 20px;
    padding-right: 10px;

    color: #39a030;
    border-right: 1px solid #39A030;

    font-family: 'Gill Sans MT';
    font-size: 28px;
    line-height: 24px;
}
.logo h2 {
    display: inline-block;
    float: right;

    color: #333;

    font-size: 22px;
    font-weight: 500;
    line-height: 20px;
}
.msg {
    float: left;

    width: 265px;
    padding-top: 30px;
}
.msg li {
    float: left;

    box-sizing: border-box;
    height: 22px;
    margin-right: 15px;

    border-radius: 3px;

    line-height: 22px;
}
#msgButton {
    width: 54px;

    cursor: pointer;
    text-align: center;

    color: #FFF;
    background: #21a557;
}
#msgButton:hover {
    background: #2AB362;
}
#fans {
    cursor: pointer;

    color: #666;

    font-size: 12px;
}
#fans span {
    margin-left: 5px;
}
#msgButton-2 {
    width: 110px;
    height: 23px;
    padding-left: 10px;

    border: 1px solid #efefef;
    background: #f8f8f8;

    font-size: 12px;
    line-height: 22px;
}
#msgButton-2 span {
    padding: 0 10px 0 15px;

    color: #333;
    background: url(../img/gou.png)no-repeat left;
}
#msgButton-2 a {
    padding-left: 5px;

    color: #999;
    border-left: 1px solid #999;
}
#msgButton-2 a:hover {
    text-decoration: underline;

    color: #21a557;
}

/*导航开始*/

.nav {
    float: right;

    width: 400px;
    padding-top: 35px;
}
.nav li {
    float: left;

    margin: 0 22px;
}
.nav li a {
    color: #666;

    font-size: 16px;
}
.nav li a:hover {
    color: #21A557
}
.sreach {
    float: right;

    width: 20px;
    height: 20px;
    /*margin-top: 2px;*/
}
#sreachButton {
    width: 100%;
    height: 100%;

    background: url(../img/ss-icon.png) no-repeat;
}
#sreachButton:hover {
    background: url(../img/ss-icon-dl.png) no-repeat;
    background-size: 100%;
}

/*banner开始*/

.banner {
    position: relative;

    overflow: hidden;

    min-width: 1025px;
    max-width: 1652px;
    min-height: 333px;
    max-height: 460px;
    margin: 0 auto;
}
.banner ul {
    width: 300%;
}
.banner ul li {
    float: left;
    /*width: 100%;*/

    min-height: 333px;
    max-height: 460px;
}
.banner ul li img {
    /*min-width: 1205px;
	position: absolute;
	top: 0;*/
    /*width: 100%;*/
}
.bannerbar {
    position: absolute;
    z-index: 11;
    bottom: 20px;
    left: 48%;

    width: 65px;

    line-height: 11px;
}
.bannerbar li {
    float: left;

    margin: 0 5px;
}
.banner .bannerbar li a {
    display: inherit;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background: #fff;
}
#banner-active {
    width: 11px;
    height: 11px;

    background: #000;
}

/*介绍开始*/

.guild {
    min-width: 963px;
    max-width: 1205px;
    height: 170px;
    margin: 0 auto;
    padding: 50px 0;
    padding-left: 55px;
}
.guild li {
    position: relative;

    float: left;

    width: 20.33%;
    height: 170px;
    padding: 0 4% 0 9%;

    background-position-y: 15px;
}
.guild-1 {
    background: url(../img/banner-d-1.png)no-repeat;
}
.guild-2 {
    background: url(../img/banner-d-2.png)no-repeat;
}
.guild-3 {
    background: url(../img/banner-d-3.png)no-repeat;
}
.guild h2 {
    margin-bottom: 20px;

    color: #333;

    font-size: 22px;
    font-weight: 300;
}
.guild p {
    color: #666;

    font-size: 14px;
    line-height: 22px;
}
.guild span a {
    position: absolute;
    bottom: 0;
    left: 26.5%;

    color: #39a030;

    font-size: 14px;
}

/*图片滚动开始*/

.scroll {
    overflow: hidden;

    min-width: 1025px;
    max-width: 1625px;
    height: 220px;
    margin: 0 auto;
    padding-top: 20px;
}
.scroll ul {
    min-width: 400%;
    height: 220px;
}
.scroll ul li {
    float: left;
}
.scroll img {
    display: block;
    float: left;

    box-sizing: border-box;

    border: 1px solid #FFF;
}

/*课程开始*/

.content-wap {
    float: left;

    width: 100%;
    padding-bottom: 120px;

    background: #f8f8f8;
}
.content {
    width: 1205px;
    /*min-width: 963px;*/
    margin: 0 auto;
    padding-top: 100px;
}

/*左边样开始*/

.content-left {
    float: left;

    width: 968px;
    margin-left: -20px;
}
.content-left-tab {
    float: left;

    height: 60px;
    margin: 0 0 20px 20px;
}
.content-left-tab li {
    display: inherit;
    float: left;

    width: 200px;
    height: 52px;

    cursor: pointer;
    text-align: center;

    color: #666;
    background: #FFF;
    box-shadow: #e6e6e6 1px 2px 2px;

    font-size: 20px;
    line-height: 52px;
}
#Tab-active {
    color: #fff;
    background: #39a030;
}
.content-left-list {
    float: left;

    width: 100%;
}
.content-left-list li {
    float: left;

    width: 224px;
    margin: 0 0 18px 18px;
    padding-bottom: 8px;

    color: #39A030;
    background: #FFFFFF;
    box-shadow: #e6e6e6 1px 2px 2px;
}
.content-left-list li:hover {
    color: #999;
    box-shadow: #999 1px 4px 4px;
}
.content-left-list li h1:hover {
    color: #39A030;
}
.content-left-list li img {
    width: 100%;
    margin-bottom: 5px;
}
.content-left-list h1 {
    margin-bottom: 8px;
    padding-left: 8px;

    color: #333;

    font-size: 12px;
    font-weight: 300;
}
.content-left-list li h2 {
    margin-bottom: 10px;

    font-size: 12px;
    font-weight: 300;
}
.content-left-list .content-left-text a {
    color: #999;
}
.content-left-text {
    padding-left: 8px;
}
.content-left-text h3 {
    display: inherit;

    width: 32px;
    height: 18px;
    margin-bottom: 10px;
    padding-left: 13px;

    text-align: center;

    color: #999;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: url(../img/kc-icon.png) no-repeat left center;
    background-position: 5px;
    background-position-x: 5px;

    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.content-left-text span {
    color: #ff3f00;

    font-size: 12px;
}
.content-left-text span b {
    padding-left: 2px;
}

/*翻页开始*/

.page {
    float: right;

    width: 295px;
    height: 26px;

    line-height: 26px;
}
#page-last, #page-next {
    float: left;

    width: 35px;

    cursor: pointer;
    text-align: center;

    color: #FFF;
    background: #9dd8b1;

    font-size: 16px;
    line-height: 26px;
}
#page-next {
    float: right;
}
.page li {
    float: left;

    width: 8px;
    margin: 0 2px;
    padding: 0 8px;

    cursor: pointer;

    color: #666;

    font-size: 14px;
    line-height: 28px;
}
.page li:hover {
    color: #FFF;
    background: #9dd8b1;
}
#page-active {
    color: #9DD8B1;
}
#page-active:hover {
    background: none;
}

/*右边样开始*/

.content-right {
    float: right;

    width: 227px;
}
.content-right-video {
    width: 100%;
    height: 232px;
    margin-bottom: 20px;

    background: #FFF;
    box-shadow: #e6e6e6 1px 2px 2px;
}
.title {
    width: auto;
    height: 55px;
    padding-left: 20px;

    color: #666;
    border-bottom: 1px solid #ddd;
    background: #FFF;

    font-size: 16px;
    line-height: 55px;
}
.content-right-video h2 {
    padding: 15px 0 0 20px;

    color: #666;

    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}
#video-bar {
    position: relative;

    width: 182px;
    height: 112px;
    margin: 10px auto;

    background: #666;
}
#video-bar a {
    position: absolute;
    top: 32px;
    left: 69px;

    display: block;

    width: 43px;
    height: 43px;
    margin: 0 auto;
}
.content-right-hot {
    width: 100%;
    padding-bottom: 20px;

    background: #FFF;
    box-shadow: #E6E6E6 1px 2px 2px;
}
.content-right-hot:hover {
    box-shadow: #999 1px 2px 4px;
}
.content-right-hot-list li {
    position: relative;

    margin-top: 20px;
    padding-left: 20px;
}
.content-right-hot-list span {
    position: absolute;
    top: 20px;
    left: 80px;

    display: inherit;

    width: 50px;
    height: 25px;
    padding-left: 15px;

    background: url(../img/list-icon.png) no-repeat left;

    line-height: 29px;
}
.content-right-hot-list li a {
    display: inherit;
    /*float: left;*/

    width: 100%;
    height: 50px;

    color: #333;

    font-size: 14px;
}
.content-right-hot-list li a img {
    float: left;
}
.content-right-hot-list li h2 {
    display: inherit;
    float: left;

    padding-left: 10px;
}

/*底部开始*/

.footer-wap {
    clear: both;

    width: 100%;

    color: #a2a4a5;
    background: #2c3339;
}
.footer-wap a {
    color: #a2a4a5;
}
.footer {
    max-width: 1205px;
    height: 200px;
    margin: 0 auto;
    padding-top: 100px;
}
.footer-left {
    float: left;

    width: 430px;
    height: 120px;
}
.foor-logo {
    float: left;

    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.footer-left p {
    line-height: 28px;
}
.foor-logo h1 {
    float: left;

    padding: 0 0 28px 0;

    color: #39a030;

    font-size: 28px;
    line-height: 27px;
}
.foor-logo h2 {
    float: left height: 22px;

    margin-left: 10px;
    padding-left: 10px;

    border-left: 1px solid #39a030;

    font-size: 22px;
    line-height: 25px;
}
.footer-right {
    float: right;
}
.footer-right a:hover, .guild span a:hover {
    text-decoration: underline;
}
.footer-right p {
    margin-bottom: 15px;
}
.footer-right p a {
    font-size: 14px;
    line-height: 18px;
}
.friendlink {
    float: left;

    width: 130px;
    height: 120px;
}
.we, .more {
    float: left;

    width: 70px;
    height: 120px;
    margin-left: 50px;
}
.we a img {
    float: right;

    padding-right: 15px;
}
